
<div class="container">

    <!-- form group -->
    <form  class="additional-data" [formGroup]="additionalDataValidation" >
        <div class="dropDownStyle">

            <!-- form conrol for label data option  -->
            <select class="Drop-Down-list" formControlName="dropDownoptinalType">
                <option [value]="'string'" selected>string</option>
                <option [value]="'number'">number</option>
                <option [value]="'boolean'">boolean</option>
                <option [value]="'hexa-decimal'">Hexa-Decimal</option>
                <option [value]="'binary'">Binary</option>
            </select>
        </div>

        <!-- form control for dropdown  -->
        <div class="styleLabel">
            <label>Additional-Data: </label>
            <input type="text" placeholder="enter Additional-Data" formControlName="dropDownData" (keyup.enter)="labelDataToApp()"/>
        </div>
        
        
    </form>

    <!-- validating the common component and send invalid msg to the user -->
    <div *ngIf="!valid" class="alert-red">Enter selected option </div>
</div>
