<h2>Registration Form</h2>
<div class="main">   
    <div class="box">

      <!-- form group with different form controls amd validations to the FormsControls -->
          <form class="form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">

            <!-- form conrols for first name -->
            <div>
              <label for="first-name">First Name: </label>
              <input id="first-name" type="text" formControlName="firstName" placeholder="Enter your firstname" >
            </div>
              <div class="alert-red" *ngIf="firstName && firstName.errors?.['required'] && firstName.touched">
                Enter input
              </div>
              <div class="alert-red" *ngIf="firstName && firstName.errors?.['minlength'] ">
                Enter at least 3 char
              </div>
              <div class="alert-red" *ngIf="firstName && firstName.errors?.['maxlength'] ">
                Enter below 256 char
              </div>
  
            <!-- form control for last name and validating the input -->
            <div>
              <label for="last-name">Last Name: </label>
              <input id="last-name" type="text" formControlName="lastName" placeholder="Enter your Lastname">
            </div>
            <div class="alert-red" *ngIf="lastName && lastName.errors?.['required'] && lastName.touched">
              Enter input
            </div>
            <div class="alert-red" *ngIf="lastName && lastName.errors?.['minlength'] ">
              Enter at least 3 char
            </div>
            <div class="alert-red" *ngIf="lastName && lastName.errors?.['maxlength']">
              Enter below 256 char
            </div>
            
            <!-- form control for age and validating the input  -->
            <div>
              <label for="age">age: </label>
              <input id="age" type="text"  formControlName="age" placeholder="Enter your age">
            </div>
            <div class="alert-red" *ngIf="age && age.errors?.['required'] && age.touched">
              Enter input
            </div>
            <div class="alert-red" *ngIf="age && age.errors?.['max']">
              Please enter digits
            </div>
            <div class="alert-red" *ngIf="age && age.errors?.['pattern']">
              Enter  valid age
            </div>
  
            <!-- form control for mobile number and validating the input-->
            <div>
              <label for="mobile">Mobile Number: </label>
              <input id="mobile" type="text"  formControlName="mobileNumber" placeholder="Enter your mobile number">
            </div>
              <span *ngIf="mobileNumber && mobileNumber.invalid && mobileNumber.touched" class="alert-red">Invalid mobile number</span>
  
              <!-- form control for email and validating the input-->
            <div>
              <label for="email" >Email: </label>
              <input id="email" type="text" formControlName="email" placeholder="Enter your email id">
            </div>
            <div class="alert-red" *ngIf="email && email.invalid && email.touched">
              Provide proper email id
            </div>
  
            <!-- form control for username and validating the input-->
            <div>
              <label for="userName" >Username: </label>
              <input id="userName" type="text" formControlName="userName" placeholder="Enter your username">
            </div>
            <span *ngIf="getUserName && getUserName.invalid" class="alert-red">Invalid username</span>
  
            <!-- form control to add additional data label -->
            <div>
              <label>Additional-Data: </label>
              <input type="text" placeholder="Enter additional data label" formControlName="additionalData">
            </div>
            <span *ngIf="additionalData && additionalData.invalid" class="alert-red">Invalid label data and label type</span>

            <!-- getting the label data from the common parent -->
            <app-additional-data (labelDataToParent)="getLabelDataFromChild($event)"></app-additional-data>

            <!-- display both aditional data label and label data -->
              <p><strong>Additional data label: </strong><span class="labelDataBorder">{{additionalDataLabel}}</span></p>
              <p><strong>Additional label Data: </strong><span class="labelDataBorder">{{labelDataFromChild}}</span></p>
  
            <div>
              <!-- submit and reset buttons -->
              <button class="bts1" type="reset">Reset</button>
              <button class="bts2" type="submit" [disabled]="!profileForm.valid">Submit</button> </div>
            </form>
    </div>
    <br/>
  </div>
  <router-outlet></router-outlet>

  