    <!--component header  -->
<h3>
    User details
 </h3>
<div class="main">
     
    
    
    <!-- display all from control data on the UI -->
       <div class="display-data">
           <div ><span class="strong">FirstName:</span><span class="line">{{dataToDisplay.firstName}} </span></div>
           <div ><span class="strong">LastName: </span><span class="line">{{dataToDisplay.lastName}} </span></div>
           <div ><span class="strong">Age: </span><span class="line">{{dataToDisplay.age}}</span></div>
           <div ><span class="strong">Mail id: </span><span class="line">{{dataToDisplay.email}}</span></div>
           <div ><span class="strong">Mobile Number: </span><span class="line">{{dataToDisplay.mobileNumber}}</span> </div>
           <div ><span class="strong">UserName: </span><span class="line">{{dataToDisplay.userName}} </span></div>
           <div ><span class="strong">additional data label: </span><span class="line">{{dataToDisplay.additionalData}} </span></div>
           <div ><span class="strong">Additional data: </span><span class="line">{{labelData}} </span></div>
       </div>
</div>
